@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --application-color: #6366f1;
  --hover-color: #5559ed;
}

body {
  /* background: linear-gradient(60deg, #43cea2, #185a9d);
  background-repeat: no-repeat; */
  background: white;
}
